body {
    background: url(kartinki/osnovnoi-fon.jpg);
    background-size: 100%;
}

.my-video {
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
    left: 0;
    top: 0;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 1350px;
    flex-wrap: wrap;
}

.head {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    margin: 50px;
    color: white;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.robot {
    animation-name: first;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    text-align: center;
    padding: 0 150px 300px 150px;
    width: 300px;
    margin: 20px;
    border-radius: 40px;
    color: white;
    background: url(kartinki/BF\ 2042\ robot.jpg);
    background-size: cover;
    font-size: large;
}

.poster {
    animation-name: first;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    text-align: center;
    padding: 0 150px 300px 150px;
    width: 300px;
    margin: 20px;
    border-radius: 40px;
    color: white;
    background: url(kartinki/BF\ 2042.jfif);
    background-size: cover;
    font-size: large;
}

@keyframes first {
    from {
        padding: 0 50px 300px 50px;
        width: 200px;
        margin: 20px;
    }
    to {
        padding: 0 150px 300px 150px;
        width: 300px;
        margin: 20px;
    }
}

.go {
    font-size: x-large;
    text-align: center;
    margin: 40px;
    width: 100%;
}
.go2 {
    font-size: large;
    text-align: center;
    margin: 10px;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
    outline: 1px solid transparent;
    padding: 5px;
    border-radius: 15px;
    transition-duration: 0.3s;
}

a:hover {
    transition-duration: 0.2s;
    outline: 1px solid white;
    padding: 5px;
    border-radius: 15px;
}

.post {
    font-size: large;
    text-align: center;
    padding: 0 150px 300px 150px;
    width: 250px;
    margin: 20px;
    border-radius: 40px;
    color: white;
    background: url(kartinki/bf-post-short.jpg);
    background-size: cover;
}

.g-post {
    animation-name: second;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: large;
    text-align: center;
    padding: 0 150px 250px 150px;
    width: 200px;
    margin: 20px;
    border-radius: 40px;
    color: white;
    background: url(kartinki/poster.jpg);
    background-size: cover;
}

.skrin {
    animation-name: second;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-align: second;
    padding: 0 150px 250px 150px;
    width: 200px;
    margin: 20px;
    border-radius: 40px;
    color: white;
    background: url(kartinki/skreenshot.jpg);
    background-size: cover;
    font-size: large;
}

@keyframes second {
    from {
        padding: 0 50px 250px 50px;
        width: 10px;
        margin: 10px;
    }
    to {
        padding: 0 150px 250px 150px;
        width: 200px;
        margin: 20px;
    }
}

.text {
    text-align: center;
    color: white;
    font-size: x-large;
}
.go3 {
    font-size: large;
    text-align: center;
    margin: 10px 10px 450px 10px;
    width: 100%;
}
.go4 {
    font-size: large;
    text-align: center;
    margin: 10px 10px 35px 10px;
    width: 100%;
}

.info {
    width: 100%;
    margin: 20px;
}

.video {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

video {
    width: 900px;
}

.battons {
    outline: 1px solid white;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    color: white;
    margin: 20px;
    background-color: transparent;
}