* {
    margin: 0;
    padding: 0;
}

body {
    width: 170px;
    height: 350px;
}

.my-video {
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
    left: 0;
    top: 0;
    width: 170px;
    height: 350px;
    border-radius: 20px;
}

.conteiner {
    width: 170px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;;
    color: white;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

a {
    width: 80px;
    height: 50px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover {
    background-color: gray;
    padding: 7px;
}

.sait {
    width: 100%;
}
